<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobi.omegacentauri.rjm"
    android:versionCode="2015"
    android:versionName="1.15" >

    <application
        android:icon="@drawable/icon"
        android:label="Raspberry Jam Mod" >
        <activity
            android:name="mobi.omegacentauri.rjm.MainActivity"
            android:label="Raspberry Jam Mod" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="mobi.omegacentauri.rjm.SendToMCPE"
            android:noHistory="true"
            android:label="Photo to Minecraft" >
            <intent-filter android:label="Photo to Minecraft" >
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="mobi.omegacentauri.rjm.RenderSchematic"
            android:noHistory="true"
            android:label="Schematic to Minecraft" >
            <intent-filter android:label="Schematic to Minecraft" >
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.schematic"/>
                <data android:host="*"/>
                <data android:scheme="file"/>
            </intent-filter>
        </activity>
        </application>

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

	<uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>